@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100vh;
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo {
  height: 50px;
  width: 50px;
}

.navbar {
  padding: 20px 30px;
}

fieldset > div > input {
  background-color: white;
  border: 1px solid black;
}

main {
  height: calc(100vh - 90px - 24px); /*100vh - navbar height - footer height located in layout*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; /* Optional: Set a common font weight */
  line-height: 1.2; /* Optional: Improve readability */
}
